
            html{
                font-size: 22px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            body{
                background-color: rgb(125, 54, 54);
                color: rgb(246, 255, 217);
            }

            a:link{
                color:rgb(246, 255, 217);
            }

            a:visited{
                color:rgb(228, 217, 118);
            }

            a:hover{
                color:rgb(227, 208, 35)
            }

            a:active{
                color:rgba(125, 125, 54, 0.886);
            }

            summary{
                font-size:x-large;
            }
            .center{
                display: block;
                margin-right: 80px;
                margin-left: auto;
            }

            table{
                color: yellow;
            }
            table, th, td{
                border: 1px solid;
            }

            .left{
                display: block;
                margin-right: auto;
                margin-left: 80px;
            }